<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="filter shadow">
							<div class="filters-tittle">
								<input class="toggle-box" id="filter-master" class="collapsable-checkbox" type="checkbox">
								<h4>
									<label for="filter-master" style="width: 100%;">Filtros
									<span style="float: right;">o</span>
									</label>

								</h4>
							</div>
							<div class="filters-hotel">
								<input class="toggle-box" id="filter-hotel-check" ng-model="filterHotel" class="collapsable-checkbox" type="checkbox">
								<h4>
									<label for="filter-hotel-check" style="width: 100%;">Nombre del Hotel
									<span style="float: right;">o</span>
									</label>
								</h4>
								<div class="col-md-12 col-xs-12 col-sm-12 padding-no">
									<div class="col-md-8 padding-left-no">
										<input type="text" ng-model="nameFilter" placeholder="Ingrese nombre del Hotel">
									</div>
									<div class="col-md-4 padding-right-no">
										<button class="button-almundo-view search-button" ng-click="setFilters('name')"> Aceptar</button>
									</div>
									
								</div>
							</div>
							<div class="filters-star">
								<input class="toggle-box" id="filter-star-check" ng-model="filterStar" class="collapsable-checkbox" type="checkbox">
								<h4>
									<label for="filter-star-check" style="width: 100%;">Estrellas
									<span style="float: right;">o</span>
									</label>
								</h4>
								<div class="filter-star-container">
									<div class="filter-star-list">
										<label>
											<input type="checkbox" ng-model="filterAllStars" ng-click="setFilters('all')" ng-disabled="filterAllStars">
											<span>Todas las estrellas</span>
										</label>
									</div>
									<div class="filter-star-list" ng-repeat="filterStars in filterArrayStars">
										<label>
											<input type="checkbox" ng-model="filterStars.value" ng-click="setFilters('stars')">
											<span><rating rate="filterStars.filterValue" class="stars-inline"></rating></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="container-hotel-data shadow" ng-repeat="hotel in hoteles">
							<div ng-style="{'background-image':'url(assets/images/hotels/{{hotel.image}})'}" class="hotel-image col-4">

							</div>
							<div class="hotel-description col-5">
								<a>
									<h3>{{hotel.name}}</h3>
								</a>
								<p class="stars-description">
									<span class="rating"><rating rate="hotel.stars" class="stars-inline"></rating></span>
								</p>
									<span class="amenities" title="{{amenity}}" ng-repeat="amenity in hotel.amenities">
										<img ng-src="assets/images/icons/amenities/{{amenity}}.svg">
									</span>

								<div></div>
							</div>
							<div class="hotel-price col-3">
								<div class="content-price">
									<p class="price-desc">Precio por noche por habitación</p>
									<p class="price-orange">
										<span class="price-prefix">ARS</span>
										<span class="price-number">{{hotel.price | number : 0}}</span> 
									</p>
									<a class="button-almundo-view">Ver Hotel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>