<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="filter shadow">
							<div class="filters-tittle">
								<span>
									<h4>Filtros</h4>
								</span>
							</div>
							<div class="filters-hotel">
								<span>
									<h4>Filtros</h4>
								</span>
								<div class="col-md-12 col-xs-12 col-sm-12 padding-no">
									<div class="col-md-8 padding-left-no">
										<input type="text">
									</div>
									<div class="col-md-4 padding-right-no">
										<button> buscar</button>
									</div>
									
								</div>
							</div>
							<div class="filters-star">
								<span>
									<h4>Filtros</h4>
								</span>
								<div class="filter-star-container">
									<div class="filter-star-list">
										5 estrellas
									</div>
									<div class="filter-star-list">
										5 estrellas
									</div>
									<div class="filter-star-list">
										5 estrellas
									</div>
									<div class="filter-star-list">
										5 estrellas
									</div>
									<div class="filter-star-list">
										5 estrellas
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="container-hotel-data shadow" ng-repeat="hotel in hoteles">
							<div class="hotel-image col-md-4">

								<img ng-src="{{hotel.image}}">
							</div>
							<div class="hotel-description col-5">
								<a>
									<h3>{{hotel.name}}</h3>
								</a>
								<p class="stars-description">
									<span class="rating"><span class="star-icon"></span></span>
									<span class="rating"><span class="star-icon"></span></span>
									<span class="rating"><span class="star-icon"></span></span>
									<span class="rating"><span class="star-icon"></span></span>
									<span class="rating"><span class="star-icon"></span></span>
								</p>
									<span class="amenities" title="{{amenity}}" ng-repeat="amenity in hotel.amenities">
										<img ng-src="assets/images/icons/amenities/{{amenity}}.svg">
									</span>

								<div></div>
							</div>
							<div class="hotel-price col-3">
								<div class="content-price">
									<p class="price-desc">Precio por noche por habitación</p>
									<p class="price-orange">
										<span class="price-prefix">ARS</span>
										<span class="price-number">{{hotel.price}}</span> 
									</p>
									<a class="button-almundo-view">Ver Hotel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>